# Hugo stuff
assets/vendor
assets/sass/main.scss
layouts/
static/
public/
builds/
resources/
_vendor/

# dotfiles/config
.*
*.log
postcss.config.js

# miscellaneous
.lighthouseci/
.netlify/
LICENSE.md
