assets/sass/main.scss
assets/vendor
layouts/
static/
.*


public/
builds/
resources/
_vendor/


.lighthouseci/
.netlify/

node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
