.meta {
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 0.825em;
  line-height: 2.3;
  letter-spacing: 0.04em;
  color: var(--medium);
}

.meta_item {
  display: inline-flex;
  margin-right: 1.6em;
  white-space: nowrap;
}

.icon {
  width: 1.2em;
  height: 1.2em;
  vertical-align: -0.2em;
  margin-right: 0.6em;
}

.tags {
  white-space: normal;
  display: inline-flex;
  flex-wrap: wrap;
}

.tag {
  text-transform: lowercase;
  white-space: nowrap;
  margin-right: 0.75em;
}

.tag::before {
  content: "\0023"; /* cosmetically hashtagify tags */
  padding-right: 0.125em;
  color: var(--light);
}

.tag:last-of-type {
  margin-right: 0;
}

.date_link,
.edit_link {
  color: inherit;
}

.views {
  /* fix potential layout shift when number of hits loads */
  min-width: 7em;
  margin-right: 0;
}
