.meta {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.825em;
  line-height: 2.3;
  letter-spacing: 0.04em;
  color: var(--medium);
}

.meta a {
  color: inherit;
  background: none;
  padding-bottom: 0;
}

.meta > div {
  display: inline-flex;
  margin-right: 1.6em;
  white-space: nowrap;
}

.meta > div:last-of-type {
  /* fix potential layout shift when number of hits loads */
  min-width: 7em;
  margin-right: 0;
}

.icon {
  margin-right: 0.6em;
}

.date a,
.edit a {
  display: inline-flex;
}

.tags {
  white-space: normal;
  display: inline-flex;
  flex-wrap: wrap;
}

.tags .tag {
  text-transform: lowercase;
  white-space: nowrap;
  margin-right: 0.75em;
}

.tags .tag::before {
  content: "#"; /* cosmetically hashtagify tags */
  padding-right: 0.125em;
  color: var(--light);
}

.tags .tag:last-of-type {
  margin-right: 0;
}
