.wallpaper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 0;
  width: 100%;
  min-height: 400px;
  box-sizing: content-box;
}

.tile {
  background-repeat: repeat;
  background-position: center;
}
