.main {
  width: 100%;
  padding: 1.5em;
  color: var(--text);
  background-color: var(--background-inner);
  /* light-dark theme switch fading */
  transition: color 0.25s ease, background 0.25s ease, border 0.25s ease;
}

.container {
  max-width: 865px;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 1.25em;
  }
}
