.button {
  border: 0;
  padding: 0.6em;
  margin-right: -0.6em;
  background: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: var(--medium-dark);
}

.button:hover {
  color: var(--link);
}
