.heading {
  font-size: 1.4em;
  font-weight: 400;
}

.calendar {
  --activity-0: #ebedf0;
  --activity-1: #9be9a8;
  --activity-2: #40c463;
  --activity-3: #30a14e;
  --activity-4: #216e39;
}

[data-theme="dark"] .calendar {
  --activity-0: #252525;
  --activity-1: #033a16;
  --activity-2: #196c2e;
  --activity-3: #2ea043;
  --activity-4: #56d364;
}

.calendar :global(.react-activity-calendar) {
  margin: 1em auto 2em;
}

.calendar :global(.react-activity-calendar__count),
.calendar :global(.react-activity-calendar__legend-month) {
  color: var(--colors-medium);
}

.calendar :global(.react-activity-calendar__legend-colors) {
  color: var(--colors-medium-light);
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  line-height: 1.1;
  gap: 1em;
}

.card {
  flex-grow: 1;
  width: 370px;
  padding: 1.2em 1.2em 0.8em;
  border: 1px solid var(--colors-kinda-light);
  border-radius: 1em;
  font-size: 0.9em;
  color: var(--colors-medium-dark);
}

.card .name {
  display: inline-block;
  margin-bottom: 0.4em;
  font-size: 1.2em;
  font-weight: 600;
}

.card .description {
  margin: 0;
  line-height: 1.7;
}

.card .meta {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.4em;
}

.card .metaItem {
  margin: 0.3em 1.5em 0.3em 0;
  color: var(--colors-medium);
  white-space: nowrap;
}

.card .metaLink {
  color: inherit;
}

.card .metaLink:hover,
.card .metaLink:focus-visible {
  color: var(--colors-link);
}

.card .metaIcon {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.5em;
  vertical-align: text-top;
}
