.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  line-height: 1.1;
  gap: 1em;
}

.card {
  flex-grow: 1;
  width: 370px;
  padding: 1.2em 1.2em 0.8em;
  border: 1px solid var(--colors-kinda-light);
  border-radius: 1em;
  font-size: 0.9em;
  color: var(--colors-medium-dark);
}

.card .name {
  font-size: 1.2em;
  font-weight: 600;
}

.card .description {
  margin-top: 0.7em;
  margin-bottom: 0.5em;
  line-height: 1.7;
}

.card .meta {
  display: flex;
  flex-wrap: wrap;
}

.card .metaItem {
  margin-right: 1.5em;
  line-height: 2;
  color: var(--colors-medium);
}

.card .metaLink {
  color: inherit !important;
}

.card .metaLink:hover,
.card .metaLink:focus-visible {
  color: var(--colors-link) !important;
}

.card .metaIcon {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  vertical-align: -0.25em;
  margin-right: 0.5em;
}

.card .metaLanguage {
  display: inline-block;
  position: relative;
  width: 1.1em;
  height: 1.1em;
  line-height: 1;
  margin-right: 0.5em;
  border-radius: 50%;
  vertical-align: -0.2em;
}
