/*!
 * modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize/tree/v3.0.1
 */

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  tab-size: 4;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: var(--fonts-sans);
  background-color: var(--colors-background-inner);
}

code,
kbd,
samp,
pre {
  font-size: 1em;
  font-family: var(--fonts-mono);
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: button;
}
