body {
  font-family: var(--fonts-sans);
  background-color: var(--colors-backgroundInner);
  transition: background var(--transitions-fade);
}

code,
kbd,
samp,
pre {
  font-family: var(--fonts-mono);
}
