.menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.item {
  margin-left: 1.8em;
  display: inline-flex;

  .link {
    display: inline-flex;
    align-items: center;
    color: var(--medium-dark);
    background: none;
    padding-bottom: 0;

    &:hover {
      color: var(--link);
    }
  }

  .icon {
    width: 1.6em;
    height: 1.6em;
  }

  .text {
    font-size: 0.95em;
    font-weight: 500;
    margin-top: 0.125em;
    margin-left: 0.75em;
  }
}

.theme_toggle {
  margin-left: 1.25em;
}

@media screen and (max-width: 768px) {
  .menu {
    max-width: 320px;
    margin-left: 20px;
    justify-content: space-between;
    flex-grow: 1;
  }

  .item {
    margin-left: 0;

    .icon {
      width: 1.8em;
      height: 1.8em;
    }

    // hide text next to emojis on mobile
    .text {
      display: none;
    }
  }

  .theme_toggle {
    margin-left: -0.3em;
  }
}
