.item_link {
  display: inline-flex;
  align-items: center;
  color: var(--medium-dark);
  background: none;
  padding-bottom: 0;

  &:hover {
    color: var(--link);
  }
}

.item_icon {
  user-select: none;
}

.item_text {
  font-size: 0.95em;
  font-weight: 500;
  margin-top: 0.05em;
  margin-left: 0.75em;
  line-height: 1;
}

@media screen and (max-width: 800px) {
  // hide text next to emojis on mobile
  .item_text {
    display: none;
  }
}
