.title {
  margin-top: 0;
  margin-bottom: 0.6em;
  font-size: 2em;
  text-align: center;
}

.title a {
  color: inherit;
}

.title :global(.icon) {
  margin-right: 0.2em;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.8em;
  }
}
