.section {
  margin: 2.4em 0;
}

.section:first-of-type {
  margin-top: 0;
}

.section:last-of-type {
  margin-bottom: 0;
}

.year {
  font-size: 2.2em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  line-height: 1.75;
  margin-bottom: 1em;
}

.row:last-of-type {
  margin-bottom: 0;
}

.date {
  width: 5.25em;
  flex-shrink: 0;
  color: var(--medium);
}

@media screen and (max-width: 768px) {
  .section .year {
    font-size: 2em;
  }
}
