.display {
  height: 600px;
  width: 100%;
  max-width: 800px;

  /* fix fuzziness: https://stackoverflow.com/a/13492784 */
  image-rendering: optimizeSpeed;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.display div {
  background: none !important;
}

.display div canvas {
  cursor: default !important;
}

.terminal {
  height: 400px;
  width: 100%;
  max-width: 700px;
}
