.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 0;
  width: 100%;
  min-height: 400px;
  box-sizing: content-box;

  /* specific retro wallpaper tile is set randomly by JS onload */
  background-repeat: repeat;
  background-position: center;
}

.display {
  height: 600px;
  width: 100%;
  max-width: 800px;

  /* fix fuzziness: https://stackoverflow.com/a/13492784 */
  image-rendering: optimizeSpeed;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.display div {
  background: none !important;
}

.display div canvas {
  cursor: default !important;
}

.cmd {
  width: 100%;
  max-width: 700px;
  min-height: 400px;
  padding: 1em;

  background-color: #000000;
  color: #cccccc;

  font-size: 0.925em;
  font-weight: 500;
  line-height: 2;
  white-space: pre-wrap;
  user-select: none;
}

.blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
