:root {
  --background-inner: #ffffff;
  --background-outer: #fcfcfc;
  --background-header: rgb(252 252 252 / 70%);
  --text: #202020;
  --medium-dark: #515151;
  --medium: #5e5e5e;
  --medium-light: #757575;
  --light: #d2d2d2;
  --kinda-light: #e3e3e3;
  --super-light: #f4f4f4;
  --super-duper-light: #fbfbfb;
  --link: #0e6dc2;
  --link-underline: rgb(14 109 194 / 40%);
  --success: #44a248;
  --error: #ff1b1b;
}

[data-theme="dark"] {
  --background-inner: #1e1e1e;
  --background-outer: #252525;
  --background-header: rgb(37 37 37 / 85%);
  --text: #f1f1f1;
  --medium-dark: #d7d7d7;
  --medium: #b1b1b1;
  --medium-light: #959595;
  --light: #646464;
  --kinda-light: #535353;
  --super-light: #272727;
  --super-duper-light: #1f1f1f;
  --link: #88c7ff;
  --link-underline: rgb(136 199 255 / 40%);
  --success: #78df55;
  --error: #ff5151;
}
