body {
  font-family: var(--font-family-sans);
  font-kerning: normal;
  font-variant-ligatures: common-ligatures;
}

code,
kbd,
samp,
pre,
.monospace {
  font-family: var(--font-family-mono);
}

/*
 * override above font-family if browser supports variable fonts:
 * https://caniuse.com/#feat=variable-fonts
 */
@supports (font-variation-settings: normal) {
  body {
    font-family: var(--font-family-sans-variable);
    font-optical-sizing: auto;
  }

  code,
  kbd,
  samp,
  pre,
  .monospace {
    font-family: var(--font-family-mono-variable);
  }

  /*
   * Chrome doesn't automatically slant multi-axis Inter var, for some reason.
   * Adding "slnt" -10 fixes Chrome but then over-italicizes in Firefox. AHHHHHHHHHH.
   */
  em {
    font-style: normal;
    font-variation-settings: "ital" 1, "slnt" -10;
  }

  /* Roboto Mono doesn't have this problem, but the above fix breaks it, of course. */
  em code,
  em kbd,
  em samp,
  em pre,
  em .monospace {
    font-style: italic !important;
    font-variation-settings: initial !important;
  }
}
