.link {
  display: inline-flex;
  align-items: center;
  color: var(--medium-dark);
  text-decoration: none;
}

.link:hover {
  color: var(--link);
}

.selfie {
  width: 50px;
  height: 50px;
  line-height: 0;
  padding: 0;
}

.selfie img {
  border: 1px solid var(--light) !important;
  border-radius: 50%;
}

.name {
  margin: 0 0.6em;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .selfie {
    width: 70px;
    height: 70px;
  }

  .name {
    display: none;
  }

  .selfie img {
    border-width: 2px !important;
  }

  .link:hover .selfie img {
    border-color: var(--link-underline) !important;
  }
}
